:root {
  --color-text: #fff;
  --color-bg: #862e9c;
  --color-content-bg: rgba(255, 255, 255, 0.3);
  --color-nav-hover: rgba(255, 255, 255, 0.4);
  --color-shadow: #6b257d;
  --color-shadow: #501c5e;
  --color-highlight: rgba(255, 255, 255, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.6rem;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  cursor: pointer;
  transition: all 0.4s;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

main {
  margin: 0 auto;
  width: 100rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

.flex {
  display: flex;
}

.column-direct {
  flex-direction: column;
}

.align-center {
  align-items: center;
}
