/**************************************/
/* HEADER                             */
/**************************************/

.header {
  margin: 0 auto;
  width: 100rem;
  padding: 2rem 0;
  border-bottom: 0.1rem solid var(--color-shadow);
  margin-bottom: 6rem;
  justify-content: space-between;
}

.logo {
  align-items: center;
}

.logo-icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--color-text);
}

.logo-text {
  font-size: 1.8rem;
  font-weight: 500;
}

.navigation {
  gap: 0.6rem;
}

.btn-nav {
  background-color: var(--color-content-bg);
  /* background-color: #cc5de8; */
  /* background-color: #be4bdb; */
  fill: var(--color-highlight);
  color: var(--color-highlight);
}

.btn-nav:hover {
  background-color: var(--color-nav-hover);
  /* background-color: #ae3ec9; */
  fill: var(--color-text);
  color: var(--color-text);
}

.btn-icon {
  width: 2rem;
  height: 2rem;
}

/**************************************/
/* TASKS                              */
/**************************************/

.tasks {
  justify-self: end;
  /* background-color: rgba(255, 255, 255, 0.3); */
  /* padding: 2rem 0; */
  /* width: 60rem; */
  width: 100%;

  gap: 2rem;
}

.task-header {
  align-items: center;
  justify-content: space-between;
}

.task-current {
  border-bottom: 0.1rem solid var(--color-text);
  border-top: 0.1rem solid var(--color-text);
  padding: 2rem 0;
  font-size: 1.8rem;

  align-items: center;
  justify-content: space-between;
}

.task-attributes {
  align-items: center;
  gap: 1rem;
}

.btn-task {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  fill: var(--color-text);
  transition: all 0.4s;

  display: flex;
  align-items: center;
}

.btn-task:hover {
  fill: var(--color-shadow);
}

.btn-task .btn-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.task-add {
  border-bottom: 0.1rem solid var(--color-text);
  border-top: 0.1rem solid var(--color-text);
  /* background-color: teal; */
  padding: 2rem 0;
  gap: 2.4rem;

  display: none;
  /* 1) Hide it visually */
  opacity: 0;

  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;

  /* 3) Hide it from screen readers */
  visibility: hidden;
}

.add-open .task-add {
  display: flex;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.task-add-name,
.task-add-pomodoros {
  gap: 1.2rem;
}

.task-add-pomodoros div {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 1.2rem;
}

.task-add label {
  font-size: 1.8rem;
}

.task-add input {
  width: fit-content;
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  border: none;
}

.task-add-form-btns {
  justify-content: end;
  gap: 2rem;
}

.btn--up,
.btn--down,
.btn-task-cancel,
.btn-task-add {
  /* background-color: var(--color-content-bg); */
  font-weight: 600;
}

.btn-task-cancel {
  color: var(--color-text);
  background-color: transparent;
}

.btn--up,
.btn--down,
.btn-task-add {
  color: var(--color-shadow);
  fill: var(--color-shadow);
  background-color: var(--color-text);
}

.btn-task-cancel:hover {
  background-color: var(--color-content-bg);
}

.btn--up:hover,
.btn--down:hover,
.btn-task-add:hover {
  color: var(--color-text);
  fill: var(--color-text);
  background-color: var(--color-shadow);
}

.task-list-header {
  justify-content: space-between;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid var(--color-text);
}

.btn-task-list-toggle {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  display: block;
  fill: var(--color-text);
}

.task-list-container {
  display: none;
}

.task-list-open .task-list-container {
  display: block;
}

.task-list-open .svg-hamburger {
  display: none;
}

.task-list-open .svg-close {
  display: block;
}

.task-item {
  border-bottom: 0.1rem solid var(--color-text);
  padding: 1.2rem 0;
  font-size: 1.8rem;

  align-items: center;
  justify-content: space-between;
}

.svg-close {
  display: none;
}

/**************************************/
/* TIMER                              */
/**************************************/

.timer {
  background-color: var(--color-content-bg);
  padding: 2rem 4rem;
  border-radius: 0.8rem;
  height: fit-content;
}

.timer-type {
  justify-content: center;
  gap: 2rem;
}

.btn-timer {
  background-color: transparent;
  font-weight: 600;
}

.btn-timer:hover {
  background-color: var(--color-content-bg);
}

.btn-timer--current {
  background-color: var(--color-bg);
}

.btn-timer--current:hover {
  background-color: var(--color-shadow);
}

.timer-counter {
  justify-content: center;
  font-size: 9.8rem;
  padding: 2rem;
}

.btn-start {
  margin-top: 0.6rem;
  color: var(--color-bg);
  font-size: 1.8rem;
  padding: 1.2rem 3.6rem;
  font-weight: 600;
}

.btn-start:hover {
  color: var(--color-text);
  background-color: var(--color-bg);
}
